
.box {
  width: 70%;
  display: flex;
  justify-content: space-between;
  /* border: black 2px solid; */
  margin-left:15%;
}


/* homepage */
.homepage {
  height: 900px;
  background-image: url("./images/travel.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.homepage-header {
  font-size: 70px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-top: 200px;
  margin-right: 20px;
}

.homepage-buttons {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.homepage-button {
  border: none;
  border-radius: 30px;
  font-size: 20px;
  height: 50px;
  outline: none;
  width: 300px;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.5s;
  margin-right: 20px;
 
}

/* style SignIn Page */
.login-box {
  height: 900px;
  background-image: url('./images/login.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.login-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 300px;
}

.header {
  color: #fff;
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.login-input{
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
} 

.input {
  height: 60px;
  width: 87%;
  border: none;
  outline: none;
  border-radius: 30px;
  padding:0 0 0 45px;
}

.login-submit {
  border: none;
  border-radius: 30px;
  font-size: 20px;
  height: 50px;
  outline: none;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.5s;
}

.login-submit:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.3);
}

.login-memeber {
  display: flex;
  justify-content: space-between;
  color: #fff;
}


/* styles for logout Page */
.logout-container {
  height: 800px;
  background-image: url('./images/logout.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh; 
}

.logout-hearder {
  font-size: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  margin-right: 200px;
  margin-bottom: 60px;
}

.logout-button {
  border: none;
  border-radius: 30px;
  font-size: 20px;
  height: 50px;
  outline: none;
  width: 300px;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.5s;
  margin-right: 200px;
  margin-bottom: 200px;
}

/* MyTrips */
.myTrips-box {
  background: #f6f6f6;
  height: 900px;
}
.myTrips-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myTrips-input {
  margin: 10px;
}

/* TripList */
